In [5]:
# Importing Libraries
import pandas as pd
import numpy as np

In [6]:
# Reading data
data =pd.read_csv('Derived_data/Data_processed.csv')

In [7]:
# Data overview
data.head()

,clientid,region,branch,client_gender,income,vehicle_production_year,vehicle_initial_assessment_value,age,had_car_loan,had_other_loans,loan_type,loan_initial_term,loan_initial_amount,loan_to_value_ratio,annual_percentage_rate,monthly_interest_rate,client_type,ratio
0,0,region 9,branch 3,male,1214,2002,9600,37.0,0,0,leaseback,36,1920,0.200000,35.875763,3.374,default,1.166667
1,1,Unknown,branch 3,male,0,1995,6480,36.0,0,0,leaseback,54,5040,0.777778,36.079749,3.374,default,1.027778
2,2,region 2,branch 5,male,720,1999,5280,57.0,0,0,leasing,18,2400,0.454545,42.292028,3.374,default,0.916667
3,3,Unknown,branch 3,female,0,2000,10560,65.0,0,0,leaseback,36,9360,0.886364,35.580055,3.374,default,0.916667
4,4,region 6,branch 2,male,0,2008,7680,35.0,0,0,leasing,54,5760,0.750000,37.090166,3.374,default,0.888889

In [8]:
# Dummy variables from regions
data = pd.get_dummies(data=data, columns=['region'], dtype=int).drop(columns= 'region_Unknown')

In [9]:
# Dummy variables from branches
data = pd.get_dummies(data = data, columns=['branch'], drop_first=True, dtype=int)

In [10]:
genders = {'male' : 1, 'female' : 0}
loan_types = {'leaseback' : 0, 'leasing' : 1}

In [11]:
# Binary variables for gender and loan type
data['client_gender'] = data['client_gender'].map(genders)
data['loan_type'] = data['loan_type'].map(loan_types)

In [12]:
# Target variable
data['default_status'] = (data['client_type'] == 'default').astype(int)

In [13]:
# Log transformations
data['log_income'] = [x if x == 0 else np.log(x) 
                        for x in data['income']]

In [14]:
data['log_vehical_value'] = [x if x == 0 else np.log(x) 
                        for x in data['vehicle_initial_assessment_value']]

In [15]:
data['log_loan_amount'] = [x if x == 0 else np.log(x) 
                        for x in data['loan_initial_amount']]

In [16]:
cols_to_take = ['client_gender', 'vehicle_production_year',
       'age', 'had_car_loan', 'had_other_loans', 'loan_type', 'loan_initial_term',
       'loan_to_value_ratio', 'annual_percentage_rate',
       'monthly_interest_rate', 'region_region 1',
       'region_region 10', 'region_region 11', 'region_region 12',
       'region_region 2', 'region_region 3', 'region_region 4',
       'region_region 5', 'region_region 6', 'region_region 7',
       'region_region 8', 'region_region 9', 'branch_branch 2',
       'branch_branch 3', 'branch_branch 4', 'branch_branch 5',
       'branch_branch 6', 'branch_branch 7', 'default_status', 'log_income',
       'log_vehical_value', 'log_loan_amount']

In [17]:
# taking features and target for models
data_for_model = data[cols_to_take]

In [20]:
data_for_model.to_csv('Derived_data/Data_model.csv', index = False)